In [1]:
import pandas as pd

raw = [
    {"date": "2026-01-01", "menu": "Americano", "price": "4500원", "qty": "2", "paid": "TRUE"},
    {"date": "2026/01/01", "menu": "Latte",     "price": "5,000",  "qty": 1,   "paid": "True"},
    {"date": "2026-01-02", "menu": "Latte",     "price": None,     "qty": 2,   "paid": "FALSE"},
    {"date": "2026-01-03", "menu": "Mocha",     "price": "5500",   "qty": None,"paid": True},
    {"date": "2026-01-03", "menu": "Americano", "price": "4500",   "qty": 1,   "paid": "TRUE"},
    {"date": "2026-01-04", "menu": "Latte",     "price": "5000원", "qty": "3", "paid": "TRUE"},
    {"date": "2026-01-05", "menu": "Tea",       "price": "4000",   "qty": "1", "paid": "TRUE"},
]

df = pd.DataFrame(raw)
df

         date       menu  price   qty   paid
0  2026-01-01  Americano  4500원     2   TRUE
1  2026/01/01      Latte  5,000     1   True
2  2026-01-02      Latte   None     2  FALSE
3  2026-01-03      Mocha   5500  None   True
4  2026-01-03  Americano   4500     1   TRUE
5  2026-01-04      Latte  5000원     3   TRUE
6  2026-01-05        Tea   4000     1   TRUE

In [ ]:
s = pd.Series([10, 20, 30], name="score")
s

In [ ]:
df.head(3)

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.isna().sum()

In [ ]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")
df["date"]

In [ ]:
df["price"] = (
    df["price"]
    .astype("string")
    .str.replace("원", "", regex=False)
    .str.replace(",", "", regex=False)
)

df["price"] = pd.to_numeric(df["price"], errors="coerce")
df["price"]

In [ ]:
df["qty"] = pd.to_numeric(df["qty"], errors="coerce")
df["qty"]

In [ ]:
df["paid"] = df["paid"].astype("string").str.upper()
df["paid"] = df["paid"].map({"TRUE": True, "FALSE": False})
df["paid"]

In [ ]:
df[["price", "qty"]] = df[["price", "qty"]].fillna(0)
df.isna().sum()

In [ ]:
df["sales"] = df["price"] * df["qty"]
df

In [ ]:
df[df["date"].isna()]

In [ ]:
#df["date"] = pd.to_datetime(df["date"], errors="coerce")
df["date"] = pd.to_datetime(df["date"], errors="coerce", format="mixed")
df["date"]

In [ ]:
df.groupby("menu")["sales"].sum().plot(kind="bar")

In [ ]:
df.to_csv("cafe_sales_clean.csv", index=False, encoding="utf-8-sig")

In [ ]:
df_csv = pd.read_csv("cafe_sales_clean.csv")
df_csv.head()

In [ ]:
df.to_excel("cafe_sales_clean.xlsx", index=False)

In [ ]:
df_xlsx = pd.read_excel("cafe_sales_clean.xlsx")
df_xlsx.head()

In [ ]:
import pandas as pd

# 0) 일부러 "실무에서 흔한" 형태로 섞어서 만들기 (문자/숫자/결측/날짜)
df = pd.DataFrame([
    {"date": "2026-01-01", "menu": "Americano", "price": "4,500원", "qty": "2",  "paid": "TRUE"},
    {"date": "2026/01/02", "menu": "Latte",     "price": "5000",   "qty": 1,    "paid": "False"},
    {"date": None,         "menu": "Mocha",     "price": None,     "qty": None, "paid": True},
    {"date": "invalid",    "menu": "Latte",     "price": "5,000원","qty": "3",  "paid": "TRUE"},
])

df