In [82]:
import pandas as pd

In [83]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [84]:
df_total = pd.read_csv("../data/real_estate_total.csv", encoding="euc-kr")

C:\Users\gorhk\AppData\Local\Temp\ipykernel_53796\3432138337.py:1: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_total = pd.read_csv("../data/real_estate_total.csv", encoding="euc-kr")

### Data Dictionary
- 출처: 서울시 부동산 실거래가 데이터
- 기간: 2018년 ~ 2024년 (계약일 기준 2008년 데이터 일부 포함 주의)
- 총 데이터 수: 833614건

|컬럼명 (한글)|컬럼명 (영문/코드)|데이터 타입|설명 및 비고 (값의 범위/예시)|결측치(Null)|
|---|---|---|---|---|
|접수연도|접수연도|Integer|데이터가 접수된 연도 (2018 ~ 2024년)|0%|
|자치구코드|자치구코드|Integer|서울시 구별 행정 코드 (Primary Key 아님)|0%|
|자치구명|자치구명|String|"구 이름 (예: 강남구, 노원구, 송파구 등)"|0%|
|법정동코드|법정동코드|Integer|동별 행정 코드|0%|
|법정동명|법정동명|String|"동 이름 (예: 화곡동, 대치동 등)"|0%|
|지번구분|지번구분|Float|"토지 구분 코드 (1: 대지, 2: 산, 3: 블럭)"|약 7%|
|지번구분명|지번구분명|String|"토지 구분 텍스트 (대지, 산, 블럭)"|약 7%|
|본번|본번|Float|지번 주소의 본번 (예: 123-45의 123)|약 7%|
|부번|부번|Float|지번 주소의 부번 (예: 123-45의 45)|약 7%|
|건물명|건물명|String|아파트/빌라 이름 (단독다가구는 비어있을 수 있음)|약 7%|
|계약일|계약일|Integer|실제 계약 체결일 (YYYYMMDD 형식)|0%|
|물건금액|물건금액(만원)|Integer|타겟 변수(Target). 실거래가 (단위: 만원)|0%|
|건물면적|건물면적(㎡)|Float|전용면적 기준 (단위: m2)|0%|
|토지면적|토지면적(㎡)|Float|대지권 면적 (단위: m2)|약 20%|
|층|층|Float|"거래된 층수 (지하는 음수| -3 ~ 73층)"|약 7%|
|권리구분|권리구분|String|"재개발/재건축 관련 권리 (분양권, 입주권)"|99% (희소)|
|취소일|취소일|Float|계약 해제된 날짜 (YYYYMMDD). 값이 있으면 취소된 거래임.|97% (희소)|
|건축년도|건축년도|Float|건물이 지어진 연도 (0 ~ 2024)|0.4%|
|건물용도|건물용도|String|"분석 기준. (아파트, 연립다세대, 오피스텔, 단독다가구)"|0%|
|신고구분|신고구분|String|"거래 형태 (중개거래, 직거래)"|73%|
|중개사위치|신고한_...|String|중개사무소 소재지|78%|

In [98]:
df_total = df_total.rename(columns={
    '물건금액(만원)' : '물건금액',
    '건물면적(㎡)' : '건물면적',
    '토지면적(㎡)' : '토지면적',
    '신고한_개업공인중개사_시군구명' : '중개사위치'
})

In [ ]:
df_total.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액,건물면적,토지면적,층,권리구분,취소일,건축년도,건물용도,신고구분,중개사위치
0,2018,11500,강서구,10300,화곡동,1.0,대지,1159.0,0.0,"우장산아이파크,이편한세상",20190425,95000,101.65,NaN,10.0,NaN,NaN,2008.0,아파트,NaN,NaN
1,2018,11410,서대문구,11200,대현동,1.0,대지,144.0,0.0,럭키대현,20190316,70000,83.38,NaN,10.0,NaN,NaN,1999.0,아파트,NaN,NaN
2,2018,11590,동작구,10700,사당동,1.0,대지,169.0,32.0,현대,20190221,49500,51.66,NaN,10.0,NaN,NaN,1991.0,아파트,NaN,NaN
3,2018,11350,노원구,10500,상계동,1.0,대지,1380.0,4.0,초산빌라,20190121,16000,41.37,18.38,1.0,NaN,NaN,1996.0,연립다세대,NaN,NaN
4,2018,11380,은평구,11000,증산동,1.0,대지,189.0,63.0,궁전맨션(189-63),20190103,43000,54.34,27.17,2.0,NaN,NaN,1992.0,연립다세대,NaN,NaN
5,2018,11620,관악구,10200,신림동,1.0,대지,1741.0,0.0,풍원하임빌,20181231,26000,28.87,21.21,4.0,NaN,NaN,2018.0,연립다세대,NaN,NaN
6,2018,11260,중랑구,10500,망우동,1.0,대지,456.0,7.0,(456-7),20181231,20000,48.79,31.74,2.0,NaN,NaN,2007.0,연립다세대,NaN,NaN
7,2018,11650,서초구,10800,서초동,1.0,대지,1598.0,1.0,큐브플러스,20181231,16100,21.97,31.54,9.0,NaN,NaN,2004.0,오피스텔,NaN,NaN
8,2018,11545,금천구,10300,시흥동,1.0,대지,492.0,20.0,(492-20),20181231,18000,68.64,36.80,2.0,NaN,NaN,1990.0,연립다세대,NaN,NaN
9,2018,11710,송파구,10100,잠실동,1.0,대지,178.0,6.0,잠실 M타워,20181231,21600,17.17,29.11,6.0,NaN,NaN,2018.0,오피스텔,NaN,NaN

In [101]:
print("total")
print(df_total.info())

total
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833614 entries, 0 to 833613
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   접수연도    833614 non-null  int64
 1   자치구코드   833614 non-null  int64
 2   자치구명    833613 non-null  object
 3   법정동코드   833614 non-null  int64
 4   법정동명    833614 non-null  object
 5   지번구분    776043 non-null  float64
 6   지번구분명   776043 non-null  object
 7   본번      776051 non-null  float64
 8   부번      776051 non-null  float64
 9   건물명     776065 non-null  object
 10  계약일     833614 non-null  int64
 11  물건금액    833614 non-null  int64
 12  건물면적    833614 non-null  float64
 13  토지면적    668824 non-null  float64
 14  층       776119 non-null  float64
 15  권리구분    7614 non-null    object
 16  취소일     25541 non-null   float64
 17  건축년도    830198 non-null  float64
 18  건물용도    833614 non-null  object
 19  신고구분    225344 non-null  object
 20  중개사위치   183916 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 133.6+ MB
None

In [102]:
df_total2 = df_total.copy()

- "자치구명" 결측치 확인

In [103]:
df_total2.loc[df_total2["자치구명"].isna()]

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액,건물면적,토지면적,층,권리구분,취소일,건축년도,건물용도,신고구분,중개사위치
829987,2024,26230,NaN,10100,미아동,1.0,대지,NaN,NaN,2020년 2차 행복주택 입주자 모집,20240112,42450,72.13,0.0,5.0,분양권,NaN,0.0,아파트,중개거래,부산 부산진구

- "자치구명"의 결측치는 단 1건이고, 부산 소재 공인중개사의 단순 오기로 판단되어 dropna하는 것이 효율적이라 판단함.

In [104]:
# 해당 오류 행 제거
df_total2 = df_total2.dropna(subset=['자치구명'])

In [105]:
df_total2.loc[df_total2["자치구명"].isna()]

Empty DataFrame
Columns: [접수연도, 자치구코드, 자치구명, 법정동코드, 법정동명, 지번구분, 지번구분명, 본번, 부번, 건물명, 계약일, 물건금액, 건물면적, 토지면적, 층, 권리구분, 취소일, 건축년도, 건물용도, 신고구분, 중개사위치]
Index: []

In [106]:
df_total2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 833613 entries, 0 to 833613
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   접수연도    833613 non-null  int64
 1   자치구코드   833613 non-null  int64
 2   자치구명    833613 non-null  object
 3   법정동코드   833613 non-null  int64
 4   법정동명    833613 non-null  object
 5   지번구분    776042 non-null  float64
 6   지번구분명   776042 non-null  object
 7   본번      776051 non-null  float64
 8   부번      776051 non-null  float64
 9   건물명     776064 non-null  object
 10  계약일     833613 non-null  int64
 11  물건금액    833613 non-null  int64
 12  건물면적    833613 non-null  float64
 13  토지면적    668823 non-null  float64
 14  층       776118 non-null  float64
 15  권리구분    7613 non-null    object
 16  취소일     25541 non-null   float64
 17  건축년도    830197 non-null  float64
 18  건물용도    833613 non-null  object
 19  신고구분    225343 non-null  object
 20  중개사위치   183915 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 139.9+ MB

In [107]:
print("=== 데이터 정보 (Info) ===")
df_total2.info() # 컬럼별 데이터 개수(결측치 확인)와 데이터 타입(int, float, object)을 보여줍니다.

# 4. 데이터의 실제 생김새 확인하기 (상위 5줄)
print("\n=== 데이터 미리보기 (Head) ===")
display(df_total2.head()) # 데이터의 상위 5개 행을 출력하여 값의 형태를 눈으로 확인합니다.

# 5. 기초 통계량 확인하기 (숫자형 데이터)
print("\n=== 기초 통계량 (Describe) ===")
display(df_total2.describe()) # 평균, 표준편차, 최소/최대값 등을 한눈에 봅니다.

=== 데이터 정보 (Info) ===
<class 'pandas.core.frame.DataFrame'>
Index: 833613 entries, 0 to 833613
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   접수연도    833613 non-null  int64
 1   자치구코드   833613 non-null  int64
 2   자치구명    833613 non-null  object
 3   법정동코드   833613 non-null  int64
 4   법정동명    833613 non-null  object
 5   지번구분    776042 non-null  float64
 6   지번구분명   776042 non-null  object
 7   본번      776051 non-null  float64
 8   부번      776051 non-null  float64
 9   건물명     776064 non-null  object
 10  계약일     833613 non-null  int64
 11  물건금액    833613 non-null  int64
 12  건물면적    833613 non-null  float64
 13  토지면적    668823 non-null  float64
 14  층       776118 non-null  float64
 15  권리구분    7613 non-null    object
 16  취소일     25541 non-null   float64
 17  건축년도    830197 non-null  float64
 18  건물용도    833613 non-null  object
 19  신고구분    225343 non-null  object
 20  중개사위치   183915 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 139.9+ MB

=== 데이터 미리보기 (Head) ===

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액,건물면적,토지면적,층,권리구분,취소일,건축년도,건물용도,신고구분,중개사위치
0,2018,11500,강서구,10300,화곡동,1.0,대지,1159.0,0.0,"우장산아이파크,이편한세상",20190425,95000,101.65,NaN,10.0,NaN,NaN,2008.0,아파트,NaN,NaN
1,2018,11410,서대문구,11200,대현동,1.0,대지,144.0,0.0,럭키대현,20190316,70000,83.38,NaN,10.0,NaN,NaN,1999.0,아파트,NaN,NaN
2,2018,11590,동작구,10700,사당동,1.0,대지,169.0,32.0,현대,20190221,49500,51.66,NaN,10.0,NaN,NaN,1991.0,아파트,NaN,NaN
3,2018,11350,노원구,10500,상계동,1.0,대지,1380.0,4.0,초산빌라,20190121,16000,41.37,18.38,1.0,NaN,NaN,1996.0,연립다세대,NaN,NaN
4,2018,11380,은평구,11000,증산동,1.0,대지,189.0,63.0,궁전맨션(189-63),20190103,43000,54.34,27.17,2.0,NaN,NaN,1992.0,연립다세대,NaN,NaN

=== 기초 통계량 (Describe) ===

,접수연도,자치구코드,법정동코드,지번구분,본번,부번,계약일,물건금액,건물면적,토지면적,층,취소일,건축년도
count,833613.000000,833613.000000,833613.000000,776042.000000,776051.000000,776051.000000,8.336130e+05,8.336130e+05,833613.000000,668823.000000,776118.000000,2.554100e+04,830197.000000
mean,2020.391870,11451.170111,10940.933383,1.002483,495.220474,29.559410,2.020403e+07,6.424754e+04,70.098999,32.125141,6.827796,2.021701e+07,1984.153633
std,1.878591,173.457160,1251.575777,0.066928,479.294327,124.647018,1.905951e+04,7.515893e+04,66.000953,394.372417,5.901005,1.389529e+04,191.371549
min,2018.000000,11110.000000,10100.000000,1.000000,0.000000,0.000000,2.008062e+07,1.700000e+03,5.070000,0.000000,-3.000000,2.020022e+07,0.000000
25%,2019.000000,11305.000000,10200.000000,1.000000,148.000000,0.000000,2.019061e+07,2.450000e+04,38.710000,0.000000,3.000000,2.020113e+07,1993.000000
50%,2020.000000,11470.000000,10500.000000,1.000000,391.000000,2.000000,2.020072e+07,4.200000e+04,59.460000,22.620000,5.000000,2.021112e+07,2003.000000
75%,2022.000000,11590.000000,10900.000000,1.000000,712.000000,17.000000,2.022011e+07,8.000000e+04,84.790000,35.230000,10.000000,2.023050e+07,2013.000000
max,2024.000000,11740.000000,18700.000000,3.000000,6046.000000,4813.000000,2.024101e+07,1.108778e+07,3619.840000,294294.000000,73.000000,2.024101e+07,2024.000000

층의 min값이 -3 음수인 것을 확인. 이상치 확인 필요.