In [3]:
import pandas as pd

In [4]:
df_2018 = pd.read_csv("../data/2018.csv", encoding="euc-kr")
df_2019 = pd.read_csv("../data/2019.csv", encoding="euc-kr")
df_2020 = pd.read_csv("../data/2020.csv", encoding="euc-kr")
df_2021 = pd.read_csv("../data/2021.csv", encoding="euc-kr")
df_2022 = pd.read_csv("../data/2022.csv", encoding="euc-kr")
df_2023 = pd.read_csv("../data/2023.csv", encoding="euc-kr")
df_2024 = pd.read_csv("../data/2024.csv", encoding="euc-kr")
df_total = pd.read_csv("../data/real_estate_total.csv", encoding="euc-kr")

C:\Users\gorhk\AppData\Local\Temp\ipykernel_53796\2728381457.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2019 = pd.read_csv("../data/2019.csv", encoding="euc-kr")
C:\Users\gorhk\AppData\Local\Temp\ipykernel_53796\2728381457.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2020 = pd.read_csv("../data/2020.csv", encoding="euc-kr")
C:\Users\gorhk\AppData\Local\Temp\ipykernel_53796\2728381457.py:4: DtypeWarning: Columns (7,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv("../data/2021.csv", encoding="euc-kr")
C:\Users\gorhk\AppData\Local\Temp\ipykernel_53796\2728381457.py:7: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv("../data/2024.csv", encoding="euc-kr")
C:\Users\gorhk\AppData\Local\Temp\ipykernel_53796\2728381457.py:8: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_total = pd.read_csv("../data/real_estate_total.csv", encoding="euc-kr")

In [5]:
print("2018")
print(df_2018.info())
print("2019")
print(df_2019.info())
print("2020")
print(df_2020.info())
print("2021")
print(df_2021.info())
print("2022")
print(df_2022.info())
print("2023")
print(df_2023.info())
print("2024")
print(df_2024.info())
print("total")
print(df_total.info())

2018
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166717 entries, 0 to 166716
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              166717 non-null  int64
 1   자치구코드             166717 non-null  int64
 2   자치구명              166717 non-null  object
 3   법정동코드             166717 non-null  int64
 4   법정동명              166717 non-null  object
 5   지번구분              152354 non-null  float64
 6   지번구분명             152354 non-null  object
 7   본번                152351 non-null  float64
 8   부번                152351 non-null  float64
 9   건물명               152371 non-null  object
 10  계약일               166717 non-null  int64
 11  물건금액(만원)          166717 non-null  int64
 12  건물면적(㎡)           166717 non-null  float64
 13  토지면적(㎡)           142887 non-null  float64
 14  층                 152371 non-null  float64
 15  권리구분              2737 non-null    object
 16  취소일               0 non-null       float64
 17  건축년도              166472 non-null  float64
 18  건물용도              166717 non-null  object
 19  신고구분              0 non-null       float64
 20  신고한 개업공인중개사 시군구명  0 non-null       float64
dtypes: float64(10), int64(5), object(6)
memory usage: 26.7+ MB
None
2019
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130673 entries, 0 to 130672
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              130673 non-null  int64
 1   자치구코드             130673 non-null  int64
 2   자치구명              130673 non-null  object
 3   법정동코드             130673 non-null  int64
 4   법정동명              130673 non-null  object
 5   지번구분              121012 non-null  float64
 6   지번구분명             121012 non-null  object
 7   본번                121012 non-null  object
 8   부번                121012 non-null  float64
 9   건물명               121020 non-null  object
 10  계약일               130673 non-null  int64
 11  물건금액(만원)          130673 non-null  int64
 12  건물면적(㎡)           130673 non-null  float64
 13  토지면적(㎡)           70314 non-null   float64
 14  층                 121020 non-null  float64
 15  권리구분              2047 non-null    object
 16  취소일               0 non-null       float64
 17  건축년도              130475 non-null  float64
 18  건물용도              130673 non-null  object
 19  신고구분              0 non-null       float64
 20  신고한 개업공인중개사 시군구명  0 non-null       float64
dtypes: float64(9), int64(5), object(7)
memory usage: 20.9+ MB
None
2020
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183900 entries, 0 to 183899
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              183900 non-null  int64
 1   자치구코드             183900 non-null  int64
 2   자치구명              183900 non-null  object
 3   법정동코드             183900 non-null  int64
 4   법정동명              183900 non-null  object
 5   지번구분              170865 non-null  float64
 6   지번구분명             170865 non-null  object
 7   본번                170870 non-null  object
 8   부번                170870 non-null  float64
 9   건물명               170881 non-null  object
 10  계약일               183900 non-null  int64
 11  물건금액(만원)          183900 non-null  int64
 12  건물면적(㎡)           183900 non-null  float64
 13  토지면적(㎡)           109149 non-null  float64
 14  층                 170876 non-null  float64
 15  권리구분              1110 non-null    object
 16  취소일               8175 non-null    float64
 17  건축년도              183289 non-null  float64
 18  건물용도              183900 non-null  object
 19  신고구분              0 non-null       float64
 20  신고한 개업공인중개사 시군구명  0 non-null       float64
dtypes: float64(9), int64(5), object(7)
memory usage: 29.5+ MB
None
2021
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138696 entries, 0 to 138695
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              138696 non-null  int64
 1   자치구코드             138696 non-null  int64
 2   자치구명              138696 non-null  object
 3   법정동코드             138696 non-null  int64
 4   법정동명              138696 non-null  object
 5   지번구분              128407 non-null  float64
 6   지번구분명             128407 non-null  object
 7   본번                128412 non-null  object
 8   부번                128412 non-null  float64
 9   건물명               128406 non-null  object
 10  계약일               138696 non-null  int64
 11  물건금액(만원)          138696 non-null  int64
 12  건물면적(㎡)           138696 non-null  float64
 13  토지면적(㎡)           137997 non-null  float64
 14  층                 128423 non-null  float64
 15  권리구분              330 non-null     object
 16  취소일               6264 non-null    float64
 17  건축년도              137434 non-null  float64
 18  건물용도              138696 non-null  object
 19  신고구분              11954 non-null   object
 20  신고한 개업공인중개사 시군구명  8604 non-null    object
dtypes: float64(7), int64(5), object(9)
memory usage: 22.2+ MB
None
2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66324 entries, 0 to 66323
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              66324 non-null  int64
 1   자치구코드             66324 non-null  int64
 2   자치구명              66324 non-null  object
 3   법정동코드             66324 non-null  int64
 4   법정동명              66324 non-null  object
 5   지번구분              61423 non-null  float64
 6   지번구분명             61423 non-null  object
 7   본번                61426 non-null  float64
 8   부번                61426 non-null  float64
 9   건물명               61402 non-null  object
 10  계약일               66324 non-null  int64
 11  물건금액(만원)          66324 non-null  int64
 12  건물면적(㎡)           66324 non-null  float64
 13  토지면적(㎡)           66320 non-null  float64
 14  층                 61434 non-null  float64
 15  권리구분              88 non-null     object
 16  취소일               4419 non-null   float64
 17  건축년도              65872 non-null  float64
 18  건물용도              66324 non-null  object
 19  신고구분              66108 non-null  object
 20  신고한 개업공인중개사 시군구명  49130 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 10.6+ MB
None
2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69781 entries, 0 to 69780
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              69781 non-null  int64
 1   자치구코드             69781 non-null  int64
 2   자치구명              69781 non-null  object
 3   법정동코드             69781 non-null  int64
 4   법정동명              69781 non-null  object
 5   지번구분              67017 non-null  float64
 6   지번구분명             67017 non-null  object
 7   본번                67017 non-null  float64
 8   부번                67017 non-null  float64
 9   건물명               67021 non-null  object
 10  계약일               69781 non-null  int64
 11  물건금액(만원)          69781 non-null  int64
 12  건물면적(㎡)           69781 non-null  float64
 13  토지면적(㎡)           69711 non-null  float64
 14  층                 67030 non-null  float64
 15  권리구분              602 non-null    object
 16  취소일               3511 non-null   float64
 17  건축년도              69400 non-null  float64
 18  건물용도              69781 non-null  object
 19  신고구분              69761 non-null  object
 20  신고한 개업공인중개사 시군구명  57513 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 11.2+ MB
None
2024
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77523 entries, 0 to 77522
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   접수연도              77523 non-null  int64
 1   자치구코드             77523 non-null  int64
 2   자치구명              77522 non-null  object
 3   법정동코드             77523 non-null  int64
 4   법정동명              77523 non-null  object
 5   지번구분              74965 non-null  float64
 6   지번구분명             74965 non-null  object
 7   본번                74964 non-null  object
 8   부번                74964 non-null  object
 9   건물명               74964 non-null  object
 10  계약일               77523 non-null  int64
 11  물건금액(만원)          77523 non-null  int64
 12  건물면적(㎡)           77523 non-null  float64
 13  토지면적(㎡)           72446 non-null  float64
 14  층                 74965 non-null  float64
 15  권리구분              700 non-null    object
 16  취소일               3172 non-null   float64
 17  건축년도              77256 non-null  float64
 18  건물용도              77523 non-null  object
 19  신고구분              77521 non-null  object
 20  신고한 개업공인중개사 시군구명  68669 non-null  object
dtypes: float64(6), int64(5), object(10)
memory usage: 12.4+ MB
None
total
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833614 entries, 0 to 833613
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              833614 non-null  int64
 1   자치구코드             833614 non-null  int64
 2   자치구명              833613 non-null  object
 3   법정동코드             833614 non-null  int64
 4   법정동명              833614 non-null  object
 5   지번구분              776043 non-null  float64
 6   지번구분명             776043 non-null  object
 7   본번                776051 non-null  float64
 8   부번                776051 non-null  float64
 9   건물명               776065 non-null  object
 10  계약일               833614 non-null  int64
 11  물건금액(만원)          833614 non-null  int64
 12  건물면적(㎡)           833614 non-null  float64
 13  토지면적(㎡)           668824 non-null  float64
 14  층                 776119 non-null  float64
 15  권리구분              7614 non-null    object
 16  취소일               25541 non-null   float64
 17  건축년도              830198 non-null  float64
 18  건물용도              833614 non-null  object
 19  신고구분              225344 non-null  object
 20  신고한_개업공인중개사_시군구명  183916 non-null  object
dtypes: float64(8), int64(5), object(8)
memory usage: 133.6+ MB
None

In [7]:
df_total.head(100)

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한_개업공인중개사_시군구명
0,2018,11500,강서구,10300,화곡동,1.0,대지,1159.0,0.0,"우장산아이파크,이편한세상",...,95000,101.65,NaN,10.0,NaN,NaN,2008.0,아파트,NaN,NaN
1,2018,11410,서대문구,11200,대현동,1.0,대지,144.0,0.0,럭키대현,...,70000,83.38,NaN,10.0,NaN,NaN,1999.0,아파트,NaN,NaN
2,2018,11590,동작구,10700,사당동,1.0,대지,169.0,32.0,현대,...,49500,51.66,NaN,10.0,NaN,NaN,1991.0,아파트,NaN,NaN
3,2018,11350,노원구,10500,상계동,1.0,대지,1380.0,4.0,초산빌라,...,16000,41.37,18.38,1.0,NaN,NaN,1996.0,연립다세대,NaN,NaN
4,2018,11380,은평구,11000,증산동,1.0,대지,189.0,63.0,궁전맨션(189-63),...,43000,54.34,27.17,2.0,NaN,NaN,1992.0,연립다세대,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018,11560,영등포구,13200,신길동,1.0,대지,1583.0,1.0,보라매 SK VIEW,...,93420,84.98,0.00,11.0,분양권,NaN,0.0,아파트,NaN,NaN
96,2018,11530,구로구,10700,개봉동,NaN,NaN,NaN,NaN,NaN,...,84788,247.32,176.00,NaN,NaN,NaN,1989.0,단독다가구,NaN,NaN
97,2018,11350,노원구,10400,하계동,1.0,대지,256.0,13.0,삼정 이오니아,...,15000,40.37,56.10,5.0,NaN,NaN,2003.0,오피스텔,NaN,NaN
98,2018,11680,강남구,10100,역삼동,1.0,대지,709.0,5.0,테헤란아이파크,...,175000,70.83,NaN,24.0,NaN,NaN,2014.0,아파트,NaN,NaN
99,2018,11440,마포구,11400,창전동,1.0,대지,27.0,19.0,마포 웨스트리버 태영 데시앙,...,77000,84.56,0.00,16.0,분양권,NaN,0.0,아파트,NaN,NaN