In [3]:
import pandas as pd

    # 1. 엑셀 파일 읽기
df = pd.read_excel("../data/법정동코드 조회자료.xls")

# 2. 한글 깨짐 방지 인코딩으로 CSV 저장
df.to_csv("법정동.csv", encoding="utf-8-sig", index=False)

In [6]:
df2 = pd.read_csv("../data/법정동코드.csv", encoding='euc-kr')
display(df2)

df3 = pd.read_csv("../data/자치구코드.csv", encoding='euc-kr')
display(df3)

     자치구코드  법정동코드 법정동명
0    11110  10100  청운동
1    11110  10200  신교동
2    11110  10300  궁정동
3    11110  10400  효자동
4    11110  10500  창성동
..     ...    ...  ...
462  11740  10600  둔촌동
463  11740  10700  암사동
464  11740  10800  성내동
465  11740  10900  천호동
466  11740  11000  강일동

[467 rows x 3 columns]

    자치구코드  자치구명
0   11110   종로구
1   11140    중구
2   11170   용산구
3   11200   성동구
4   11215   광진구
5   11230  동대문구
6   11260   중랑구
7   11290   성북구
8   11305   강북구
9   11320   도봉구
10  11350   노원구
11  11380   은평구
12  11410  서대문구
13  11440   마포구
14  11470   양천구
15  11500   강서구
16  11530   구로구
17  11545   금천구
18  11560  영등포구
19  11590   동작구
20  11620   관악구
21  11650   서초구
22  11680   강남구
23  11710   송파구
24  11740   강동구

In [8]:
df4 = pd.read_csv("../data/법정동합본.csv",encoding='euc-kr')
df4

     자치구코드 자치구명  법정동코드 법정동명
0    11110  종로구  10100  청운동
1    11110  종로구  10200  신교동
2    11110  종로구  10300  궁정동
3    11110  종로구  10400  효자동
4    11110  종로구  10500  창성동
..     ...  ...    ...  ...
462  11740  강동구  10600  둔촌동
463  11740  강동구  10700  암사동
464  11740  강동구  10800  성내동
465  11740  강동구  10900  천호동
466  11740  강동구  11000  강일동

[467 rows x 4 columns]