# ğŸ“‚ PJ01_Fintech_Data_Pipeline

### : ì§€ì €ë¶„í•œ ì£¼ì‹ ê±°ë˜ ë¡œê·¸ ì •ì œ ë° ê°€ì¤‘í‰ê· (VWAP) ì‚°ì¶œ ì‹œìŠ¤í…œ

## 1. ğŸ’¼ ê°€ìƒ ì‹¤ë¬´ ì‹œë‚˜ë¦¬ì˜¤ (Scenario)

**"ê³ ê°ë‹˜ ê³„ì¢Œ ì”ê³ ê°€ ì™œ ì´ëŸ¬ì£ ? ì‹œìŠ¤í…œ ì˜¤ë¥˜ì¸ê°€ìš”?"**

ë‹¹ì‹ ì€ í•€í…Œí¬ ìŠ¤íƒ€íŠ¸ì—… **'QuantLab(í€€íŠ¸ë©)'**ì˜ ì£¼ë‹ˆì–´ ë°ì´í„° ì—”ì§€ë‹ˆì–´ì…ë‹ˆë‹¤.
ì˜¤ëŠ˜ ì•„ì¹¨, ì œíœ´ ì¦ê¶Œì‚¬ë¡œë¶€í„° ì–´ì œ ì **ê³ ê° ì£¼ì‹ ê±°ë˜ ë‚´ì—­(Raw Data)** íŒŒì¼ì´ ë„ì°©í–ˆìŠµë‹ˆë‹¤.

í•˜ì§€ë§Œ íŒŒì¼ì„ ì—´ì–´ë³¸ ìˆœê°„, ë‹¹ì‹ ì€ ê²½ì•…ì„ ê¸ˆì¹˜ ëª»í•©ë‹ˆë‹¤.
ë ˆê±°ì‹œ ì‹œìŠ¤í…œì˜ ì˜¤ë¥˜ë¡œ ì¸í•´ ë°ì´í„°ê°€ ì—‰ë§ì§„ì°½ìœ¼ë¡œ ì„ì—¬ ìˆì—ˆê¸° ë•Œë¬¸ì…ë‹ˆë‹¤.

* **ë‚ ì§œ**ëŠ” `2024-01-01`, `2024/01/02`ê°€ ì„ì—¬ ìˆê³ , ì‹¬ì§€ì–´ `invalid_date` ê°™ì€ ë¬¸ìì—´ë„ ë³´ì…ë‹ˆë‹¤.
* **ë§¤ìˆ˜/ë§¤ë„ êµ¬ë¶„**ì€ `Buy`, `B`, `sell`, `S` ë“± ì œê°ê°ì´ë¼ ì‹œìŠ¤í…œì´ ì¸ì‹ì„ ëª» í•©ë‹ˆë‹¤.
* **ì²´ê²° ê°€ê²©** ì¤‘ê°„ì¤‘ê°„ì´ ë¹„ì–´ìˆê±°ë‚˜(`NaN`), ì‰¼í‘œ(`70,000`)ê°€ ë¶™ì–´ ìˆì–´ ê³„ì‚°ì´ ë¶ˆê°€ëŠ¥í•©ë‹ˆë‹¤.

**íŒ€ì¥ë‹˜ì˜ ê¸´ê¸‰ ìš”ì²­:**

> "ì´ ë°ì´í„° ê·¸ëŒ€ë¡œ ìì‚° í‰ê°€ ì—”ì§„ì— ë„£ìœ¼ë©´ ìš°ë¦¬ ì„œë¹„ìŠ¤ ì…§ë‹¤ìš´ ë©ë‹ˆë‹¤.
> **2ì‹œê°„ ë‚´**ì— ë°ì´í„°ë¥¼ ì™„ë²½í•˜ê²Œ **ì „ì²˜ë¦¬(Cleaning)** í•˜ê³ ,
> êµ¬ë© ë‚œ ê°€ê²©ì€ **í•´ë‹¹ ì¢…ëª©ì˜ í‰ê· ê°€**ë¡œ ë©”ê¿”ì„œ,
> ì¢…ëª©ë³„ **ì •í™•í•œ í‰ë‹¨ê°€(VWAP)**ë¥¼ ë½‘ì•„ì£¼ì„¸ìš”."

ë‹¹ì‹ ì˜ ì„ë¬´ëŠ” ì´ 'ì“°ë ˆê¸° ë°ì´í„°'ë¥¼ 'í™©ê¸ˆ ê°™ì€ ì •ë³´'ë¡œ ë°”ê¾¸ëŠ” **ë°ì´í„° íŒŒì´í”„ë¼ì¸**ì„ êµ¬ì¶•í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.

---

## 2. ğŸ“‹ í”„ë¡œì íŠ¸ ê¸°íšì•ˆ (Planning)

### **1) í”„ë¡œì íŠ¸ ëª©í‘œ**

1. **ë°ì´í„° ì •ê·œí™” (Standardization):** ì´ì§ˆì ì¸ ë‚ ì§œ, ë¬¸ìì—´ í¬ë§·ì„ í†µì¼í•˜ì—¬ ë¶„ì„ ê°€ëŠ¥í•œ ìƒíƒœë¡œ ë§Œë“­ë‹ˆë‹¤.
2. **ê²°ì¸¡ì¹˜ ë³´ê°„ (Imputation):** ë‹¨ìˆœíˆ 0ì´ë‚˜ ì „ì²´ í‰ê· ì„ ë„£ëŠ” ê²ƒì´ ì•„ë‹ˆë¼, **'ì¢…ëª©ë³„ í‰ê· '**ì´ë¼ëŠ” ë„ë©”ì¸ ë§¥ë½ì— ë§ëŠ” ê°’ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì±„ì›ë‹ˆë‹¤.
3. **ê¸ˆìœµ ì§€í‘œ ì‚°ì¶œ (Financial Metrics):** ë‹¨ìˆœ í‰ê· ì´ ì•„ë‹Œ, ê±°ë˜ëŸ‰ì„ ê³ ë ¤í•œ **ê°€ì¤‘ í‰ê·  ê°€ê²©(VWAP)**ì„ ê³„ì‚°í•˜ì—¬ ì •í™•í•œ í‰ë‹¨ê°€ë¥¼ ì œê³µí•©ë‹ˆë‹¤.

### **2) ê¸°ìˆ  ìŠ¤íƒ & í•µì‹¬ ê°œë… (TIL ì—°ê³„)**

* **Language:** Python 3.9+
* **Library:** Pandas, NumPy
* **Key Concepts:**
* **OOP:** ì „ì²˜ë¦¬ ë¡œì§ì„ `DataCleaner` í´ë˜ìŠ¤ë¡œ ìº¡ìŠí™”í•˜ì—¬ ì¬ì‚¬ìš©ì„± í™•ë³´.
* **Pandas ETL:** `map`(ê³ ì† ë§¤í•‘), `to_datetime`, `astype` í™œìš©.
* **Advanced GroupBy:** `transform('mean')`ì„ í™œìš©í•œ ê·¸ë£¹ë³„ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°.



### **3) ë°ì´í„° íë¦„ (Pipeline)**

1. **Input:** `df_raw` (Dirty CSV í˜•íƒœ)
2. **Process (Class: DataCleaner):**
* `clean_date`: ë‚ ì§œ íŒŒì‹± ë° ì˜¤ë¥˜ í–‰ ì œê±°
* `clean_side`: ë§¤ìˆ˜/ë§¤ë„ Boolean(`True`/`False`) í†µì¼
* `clean_price`: íŠ¹ìˆ˜ë¬¸ì ì œê±° ë° ìˆ˜ì¹˜í˜• ë³€í™˜
* `fill_missing`: ì¢…ëª©ë³„(ticker) ê·¸ë£¹ í‰ê· ìœ¼ë¡œ ê°€ê²© ë³´ê°„


3. **Output:** ì¢…ëª©ë³„ ê°€ì¤‘ í‰ê·  ê°€ê²©(VWAP) ë¦¬í¬íŠ¸

In [2]:
import pandas as pd
import numpy as np

# ì‹¤ë¬´ì—ì„œ ë§ˆì£¼ì¹  ë²•í•œ 'ë”ëŸ¬ìš´' ë°ì´í„° ìƒì„±
data = {
    'date': ['2024-01-01', '2024/01/02', '2024.01.03', '2024-01-01', '2024-01-05', 'invalid_date'],
    'ticker': ['005930', '005930', '035420', '035420', '005930', '035420'], # ì‚¼ì„±ì „ì, ë„¤ì´ë²„
    'side': ['Buy', 'B', 'sell', 'S', 'buy', 'Sell'], # ë§¤ìˆ˜/ë§¤ë„ í‘œê¸°ê°€ ì œê°ê°
    'price': ['70000', '71,000', np.nan, '250000', None, '245000'], # ë¬¸ìì—´, ê²°ì¸¡ì¹˜ í˜¼ì¬
    'qty': [10, 5, 3, 2, 10, 5]
}

df_raw = pd.DataFrame(data)

print("--- [Before] ë”ëŸ¬ìš´ ì›ë³¸ ë°ì´í„° ---")
print(df_raw.info())
display(df_raw.head())

--- [Before] ë”ëŸ¬ìš´ ì›ë³¸ ë°ì´í„° ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6 non-null      object
 1   ticker  6 non-null      object
 2   side    6 non-null      object
 3   price   4 non-null      object
 4   qty     6 non-null      int64
dtypes: int64(1), object(4)
memory usage: 372.0+ bytes
None

         date  ticker  side   price  qty
0  2024-01-01  005930   Buy   70000   10
1  2024/01/02  005930     B  71,000    5
2  2024.01.03  035420  sell     NaN    3
3  2024-01-01  035420     S  250000    2
4  2024-01-05  005930   buy    None   10

In [3]:
df_raw.head(10)

           date  ticker  side   price  qty
0    2024-01-01  005930   Buy   70000   10
1    2024/01/02  005930     B  71,000    5
2    2024.01.03  035420  sell     NaN    3
3    2024-01-01  035420     S  250000    2
4    2024-01-05  005930   buy    None   10
5  invalid_date  035420  Sell  245000    5

In [4]:
class DataCleaner:
    def __init__(self, df):
        self.df = df.copy() # ì›ë³¸ í›¼ì† ë°©ì§€
    
    def clean_date(self):
        print(">> ë‚ ì§œ ì •ê·œí™” ì§„í–‰ ì¤‘...")
        # [TODO 1] 'date' ì»¬ëŸ¼ì„ datetime ê°ì²´ë¡œ ë³€í™˜í•˜ì„¸ìš”.
        # íŒíŠ¸: pd.to_datetime() ì‚¬ìš©. 
        # ë³€í™˜ ë¶ˆê°€ëŠ¥í•œ ê°’('invalid_date')ì€ ì—ëŸ¬ ëŒ€ì‹  NaTë¡œ ì²˜ë¦¬ë˜ë„ë¡(errors='coerce') ì„¤ì •.
        self.df['date'] = pd.to_datetime(self.df["date"], errors='coerce', format='mixed')
        
        # [TODO 2] NaT(ë‚ ì§œ ë³€í™˜ ì‹¤íŒ¨)ê°€ ìˆëŠ” í–‰ì„ ì œê±°í•˜ì„¸ìš”.
        self.df = self.df.dropna(subset=['date'])
        return self

    def clean_side(self):
        print(">> ë§¤ìˆ˜/ë§¤ë„ í‘œì¤€í™” ì§„í–‰ ì¤‘...")
        # [TODO 3] 'side' ì»¬ëŸ¼ì˜ ë¬¸ìì—´ì„ ëª¨ë‘ ì†Œë¬¸ìë¡œ ë³€í™˜í•˜ê³  ì–‘ìª½ ê³µë°±ì„ ì œê±°í•˜ì„¸ìš”.
        # íŒíŠ¸: .str ì ‘ê·¼ì ì‚¬ìš©
        side_clean = self.df["side"].astype(str).str.strip().str.lower()
        
        # [TODO 4] ì•„ë˜ ë§¤í•‘ ì‚¬ì „ì„ ì´ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ True/Falseë¡œ ë³€í™˜í•˜ì„¸ìš”.
        # buy, b -> True / sell, s -> False
        # íŒíŠ¸: apply ëŒ€ì‹  map()ì„ ì‚¬ìš©í•´ì•¼ ì„±ëŠ¥ì´ ì¢‹ìŠµë‹ˆë‹¤.
        mapping = {'buy': True, 'b': True, 'sell': False, 's': False}
        self.df['side'] = side_clean.map(mapping)
        return self

    def clean_price(self):
        print(">> ê°€ê²© ë°ì´í„° ìˆ«ì ë³€í™˜ ì§„í–‰ ì¤‘...")
        # [TODO 5] 'price' ì»¬ëŸ¼ì˜ ì‰¼í‘œ(,)ë¥¼ ì œê±°í•˜ê³  ìˆ«ì(float)ë¡œ ë³€í™˜í•˜ì„¸ìš”.
        # íŒíŠ¸ 1: .astype(str)ë¡œ ë¨¼ì € ë¬¸ìì—´í™” -> .str.replace(',', '')
        # íŒíŠ¸ 2: pd.to_numeric()ì„ ì‚¬ìš©í•˜ê±°ë‚˜ .astype(float) ì‚¬ìš©
        self.df['price'] = (
            self.df['price'].astype(str)
            .str.replace(",","") # ì‰¼í‘œ ì œê±°
        )
        self.df['price'] = pd.to_numeric(self.df['price'], errors='coerce')
        return self

    def fill_missing_price(self):
        print(">> ê²°ì¸¡ì¹˜ ë³´ê°„(Imputation) ì§„í–‰ ì¤‘...")
        # [TODO 6] ê°€ê²©ì´ NaNì¸ ê³³ì„ 'í•´ë‹¹ ì¢…ëª©(ticker)ì˜ í‰ê·  ê°€ê²©'ìœ¼ë¡œ ì±„ìš°ì„¸ìš”.
        # íŒíŠ¸: fillna() ë‚´ë¶€ì— df.groupby('...')['...'].transform('mean') ì‚¬ìš©
        # ìˆ˜ì—… í•µì‹¬: transformì„ ì“°ë©´ ì§‘ê³„ëœ ê°’ì´ ì›ë˜ ë°ì´í„° ê¸¸ì´ì— ë§ì¶° í™•ì¥ë©ë‹ˆë‹¤.
        
        ticker_mean = self.df.groupby("ticker")["price"].transform('mean')
        self.df['price'] = self.df['price'].fillna(ticker_mean)
        return self

    def get_clean_data(self):
        # íŒŒì´í”„ë¼ì¸ ì‹¤í–‰ (ë©”ì„œë“œ ì²´ì´ë‹)
        self.clean_date()
        self.clean_side()
        self.clean_price()
        self.fill_missing_price()
        return self.df

# --- ì‹¤í–‰ ë° ê²€ì¦ ---
cleaner = DataCleaner(df_raw)
df_clean = cleaner.get_clean_data()

print("\n--- [After] ì •ì œ ì™„ë£Œ ë°ì´í„° ---")
display(df_clean)
print(df_clean.info())

>> ë‚ ì§œ ì •ê·œí™” ì§„í–‰ ì¤‘...
>> ë§¤ìˆ˜/ë§¤ë„ í‘œì¤€í™” ì§„í–‰ ì¤‘...
>> ê°€ê²© ë°ì´í„° ìˆ«ì ë³€í™˜ ì§„í–‰ ì¤‘...
>> ê²°ì¸¡ì¹˜ ë³´ê°„(Imputation) ì§„í–‰ ì¤‘...

--- [After] ì •ì œ ì™„ë£Œ ë°ì´í„° ---

        date  ticker   side     price  qty
0 2024-01-01  005930   True   70000.0   10
1 2024-01-02  005930   True   71000.0    5
2 2024-01-03  035420  False  250000.0    3
3 2024-01-01  035420  False  250000.0    2
4 2024-01-05  005930   True   70500.0   10

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    5 non-null      datetime64[ns]
 1   ticker  5 non-null      object
 2   side    5 non-null      bool
 3   price   5 non-null      float64
 4   qty     5 non-null      int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 205.0+ bytes
None

In [5]:
# [TODO 7] 'ê±°ë˜ëŒ€ê¸ˆ(amount)' íŒŒìƒ ì»¬ëŸ¼ ìƒì„± (ê°€ê²© * ìˆ˜ëŸ‰)
df_clean['amount'] = df_clean['price'] * df_clean['qty']

# [TODO 8] ì¢…ëª©(ticker)ë³„ë¡œ 'amount'ì™€ 'qty'ì˜ í•©ê³„(sum) êµ¬í•˜ê¸°
grouped = df_clean.groupby('ticker')[['amount', 'qty']].sum()

# [TODO 9] ê°€ì¤‘ í‰ê· (vwap) ê³„ì‚° (ì´ ê±°ë˜ëŒ€ê¸ˆ / ì´ ê±°ë˜ëŸ‰)
grouped['vwap'] = grouped['amount'] / grouped['qty']

grouped = grouped.reset_index()


print("\n--- [Result] ì¢…ëª©ë³„ ê°€ì¤‘ í‰ê· ê°€(VWAP) ë¦¬í¬íŠ¸ ---")
display(grouped)

--- [Result] ì¢…ëª©ë³„ ê°€ì¤‘ í‰ê· ê°€(VWAP) ë¦¬í¬íŠ¸ ---

   ticker     amount  qty      vwap
0  005930  1760000.0   25   70400.0
1  035420  1250000.0    5  250000.0

In [9]:
df_clean.to_csv("data/PJ05_Cleaned_Fintech_Data.csv", index=False, encoding='utf-8-sig')
grouped.to_csv("data/PJ05_VWAP_Fintech_Data.csv", index=False, encoding='utf-8-sig')

In [12]:
clean_df = pd.read_csv("data/PJ05_Cleaned_Fintech_Data.csv", dtype={'ticker': str})
clean_df

         date  ticker   side     price  qty    amount
0  2024-01-01  005930   True   70000.0   10  700000.0
1  2024-01-02  005930   True   71000.0    5  355000.0
2  2024-01-03  035420  False  250000.0    3  750000.0
3  2024-01-01  035420  False  250000.0    2  500000.0
4  2024-01-05  005930   True   70500.0   10  705000.0

In [13]:
VWAP_df = pd.read_csv("data/PJ05_VWAP_Fintech_Data.csv", dtype={'ticker': str})
VWAP_df

   ticker     amount  qty      vwap
0  005930  1760000.0   25   70400.0
1  035420  1250000.0    5  250000.0

## íšŒê³ 
- ì˜¤ëŠ˜ì€ ì§§ì€ ë¶„ëŸ‰ìœ¼ë¡œ ë¹ ë¥´ê²Œ í”„ë¡œì íŠ¸ë¥¼ ë§ˆì³¤ë‹¤.
- ê·¸ëŸ¼ì—ë„ EDAì˜ ì´ˆë°˜ í•™ìŠµ ë‚´ìš©ì´ì—ˆë˜ ì „ì²˜ë¦¬ ë¶€ë¶„ì„ ë‹¤ì‹œ ë³µìŠµí•œë‹¤ëŠ” ëŠë‚Œìœ¼ë¡œ ê°€ë³ê²Œ ì‚´í´ë³¼ ìˆ˜ ìˆì–´ ì¢‹ì•˜ë‹¤.
- ë‚´ì¼ í”„ë¡œì íŠ¸ë¶€í„°ëŠ” ì¡°ê¸ˆ ë¬´ê²Œë¥¼ ë‘ê³  ì¢€ ë” ë§ì€ ê°œë…ì„ ë‹´ì„ ìˆ˜ ìˆë„ë¡ í•´ì•¼ê² ë‹¤.
    - ì „ì²˜ë¦¬ -> íŒŒìƒ ì»¬ëŸ¼ ìƒì„± -> ë§¤í•‘ í…Œì´ë¸” ë³‘í•© -> ê·¸ë£¹ ì§‘ê³„/í”¼ë²— -> ê²°ê³¼ ì €ì¥ê¹Œì§€.
## í™•ì¥
- ê° ì¢…ëª© ë³„ì˜ ìˆ˜ìµë¥ ì„ ê³„ì‚°í•˜ëŠ” ë¡œì§ë„ ì¶”ê°€í•  ìˆ˜ ìˆì„ ê²ƒì´ë‹¤.
- date ë°ì´í„°ë¥¼ ì‚¬ìš©í•´ ëˆ„ì ëœ ê±°ë˜ ë‚´ì—­(history) ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ ì‹œê³„ì—´ ë°ì´í„°ë¡œì„œ í™œìš©í•´ë³¼ ìˆ˜ ìˆì„ ê²ƒì´ë‹¤.