In [1]:
import pandas as pd
orders = pd.read_csv("bootcamp_orders.csv")
customers = pd.read_csv("bootcamp_customers.csv")

orders

,order_id,order_date,customer_id,product,category,unit_price,quantity,discount_rate,payment_method,rating
0,ord_1001,2026-01-05,cust_0001,Americano,coffee,4500,1,0.00,card,5.0
1,ord_1002,2026-01-05,cust_0002,Latte,coffee,5000,2,0.10,app,4.0
2,ord_1003,2026-01-06,cust_0003,Cheesecake,dessert,6500,1,NaN,card,5.0
3,ord_1004,2026-01-06,cust_0004,Green Tea,tea,4800,1,0.00,cash,3.0
4,ord_1005,2026-01-07,cust_0005,Sandwich,sandwich,7200,1,0.15,card,4.0
5,ord_1006,2026-01-07,cust_0006,Americano,coffee,4500,3,0.00,card,NaN
6,ord_1007,2026-01-08,cust_0007,Croissant,dessert,3900,2,0.00,cash,4.0
7,ord_1008,2026-01-08,cust_0008,Latte,coffee,5000,1,0.00,app,5.0
8,ord_1009,2026-01-09,cust_0009,Black Tea,tea,4300,1,0.00,card,2.0
9,ord_1010,2026-01-09,cust_0010,Tiramisu,dessert,6900,1,0.10,card,5.0
10,ord_1010,2026-01-09,cust_0010,Tiramisu,dessert,6900,1,0.10,card,5.0
11,ord_1011,2026-01-10,cust_0011,Americano,coffee,4500,1,0.00,cash,4.0
12,ord_1012,2026-01-10,cust_0012,Bagel,sandwich,5200,2,0.00,app,3.0
13,ord_1013,2026-01-11,cust_0001,Latte,coffee,5000,1,0.00,card,4.0
14,ord_1014,2026-01-11,cust_0002,Cookie,dessert,2500,3,0.00,cash,3.0
15,ord_1015,2026-01-12,cust_0003,Sandwich,sandwich,7200,1,0.00,card,5.0
16,ord_1016,2026-01-12,cust_0004,Green Tea,tea,4800,2,0.10,app,4.0
17,ord_1017,2026-01-13,cust_0005,Americano,coffee,4500,1,0.00,card,4.0
18,ord_1018,2026-01-13,cust_0006,Cheesecake,dessert,6500,1,0.00,card,5.0
19,ord_1019,2026-01-14,cust_0007,Black Tea,tea,4300,2,NaN,cash,3.0
20,ord_1020,2026-01-14,cust_0008,Bagel,sandwich,5200,1,0.00,app,4.0
21,ord_1021,2026-01-15,cust_0009,Cookie,dessert,2500,2,0.00,cash,1.0
22,ord_1022,2026-01-15,cust_0010,Latte,coffee,5000,2,0.10,card,5.0
23,ord_1023,2026-01-16,cust_0011,Green Tea,tea,4800,1,0.00,app,4.0
24,ord_1024,2026-01-16,cust_0012,Sandwich,sandwich,7200,1,0.15,card,5.0
25,ord_1025,2026-01-17,cust_0001,Tiramisu,dessert,6900,1,0.00,card,4.0
26,ord_1026,2026-01-17,cust_0002,Americano,coffee,4500,2,0.00,cash,3.0
27,ord_1027,2026-01-18,cust_9999,Latte,coffee,5000,1,0.00,card,5.0
28,ord_1028,2026-01-19,cust_0010,Cheesecake,dessert,6500,2,0.10,app,4.0
29,ord_1029,2026-01-20,cust_0012,Black Tea,tea,4300,1,0.00,cash,2.0
30,ord_1030,2026-01-20,cust_0006,Sandwich,sandwich,7200,2,0.15,card,3.0

In [ ]:
import pandas as pd
orders = pd.read_csv("bootcamp_orders.csv")
customers = pd.read_csv("bootcamp_customers.csv")

# Q17 - 1
print(orders.shape)
print(customers.shape)

# Q17 - 2
dup_order_id = orders["order_id"].duplicated().sum()
print(f"dup order_id count: {dup_order_id}")

# Q17 - 3
print(orders.isnull().sum())
print(customers.isnull().sum())

In [ ]:
import pandas as pd
orders = pd.read_csv("bootcamp_orders.csv")
customers = pd.read_csv("bootcamp_customers.csv")

# Q18
orders_clean = orders.copy()

# Q18-1
orders_clean = orders_clean.drop_duplicates(subset=["order_id"], keep="first")

# Q18-2
orders_clean["discount_rate"] = orders_clean["discount_rate"].fillna(0)
print(orders_clean.isnull().sum())

# Q18-3
orders_clean["revenue"] = orders_clean["unit_price"] * orders_clean["quantity"] * (1-orders_clean["discount_rate"])
print(orders_clean.head())

# Q18-4
print(f"rows: {len(orders_clean)}")
print(f"revenue_sum: {orders_clean["revenue"].sum()}")

In [ ]:
import pandas as pd
orders = pd.read_csv("bootcamp_orders.csv")
customers = pd.read_csv("bootcamp_customers.csv")

# Q19 (Q18 단계 복사)
orders_clean = orders.copy()

orders_clean = orders_clean.drop_duplicates(subset=["order_id"], keep="first")

orders_clean["discount_rate"] = orders_clean["discount_rate"].fillna(0)

orders_clean["revenue"] = orders_clean["unit_price"] * orders_clean["quantity"] * (1-orders_clean["discount_rate"])

# Q19-1
merged = orders_clean.merge(customers, on='customer_id', how='left')
merged.head()

# Q19-2
merged_clean = merged.copy()
merged_clean["city"] = merged_clean["city"].fillna("UNKNOWN")

# Q19-3
city_agg = merged_clean.groupby("city").agg(
    order_cnt = ("order_id", "nunique"),
    customer_cnt = ("customer_id", "nunique"),
    revenue_sum = ("revenue", "sum")
)
city_agg_sorted = city_agg.sort_values(
    by = ["revenue_sum", "city"],
    ascending=[False, True]
)

print(city_agg_sorted)

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

orders = pd.read_csv("bootcamp_orders.csv")
customers = pd.read_csv("bootcamp_customers.csv")

# Q19 (Q18 단계 복사)
orders_clean = orders.copy()

orders_clean = orders_clean.drop_duplicates(subset=["order_id"], keep="first")

orders_clean["discount_rate"] = orders_clean["discount_rate"].fillna(0)

orders_clean["revenue"] = orders_clean["unit_price"] * orders_clean["quantity"] * (1-orders_clean["discount_rate"])

# Q19-1
merged = orders_clean.merge(customers, on='customer_id', how='left')
merged.head()

# Q19-2
merged_clean = merged.copy()
merged_clean["city"] = merged_clean["city"].fillna("UNKNOWN")

# Q19-3
city_agg = merged_clean.groupby("city").agg(
    order_cnt = ("order_id", "nunique"),
    customer_cnt = ("customer_id", "nunique"),
    revenue_sum = ("revenue", "sum")
)
city_agg_sorted = city_agg.sort_values(
    by = ["revenue_sum", "city"],
    ascending=[False, True]
)


order_bar = (merged_clean.groupby("category", as_index=False)["revenue_sum"].sort_values("revenue_sum", ascending=False))

plt.figure(figsize=(6,3))
sns.barplot(data=merged_clean, x="category", y="revenue_sum")
plt.title("Total Revenue by Category")
plt.tight_layout()
plt.show()